
{% extends "layout.html" %}

{% block content %}

      <h4 class="title">Balance and Transactions Report</h4>
        <h2>{{ bx }}</h2>
          <h3> Transactions </h3>



    <table style="margin: 3px">
    <tr style="background-color: #7cc3a97d">
        <th style="color: white;padding: 1rem">ID</th>
        <th style="color: white;padding: 1rem">Amount</th>

    </tr>
    {% for ID in txReport -%}
        <tr style="background-color: aliceblue">
        <td style="padding: 1rem">{{txReport[ID].ID}}</td>
        <td style="padding: 1rem">{{txReport[ID].amount}}</td>
    </tr>

    {% endfor %}
    </table>

{% endblock %}